body, #contentCol {
    background-color: #BDBDBD !important;
}

#bluebarRoot > div {
    background-color: #212121;
}

._4jy1 {
    background-color: #212121 !important;
    border-color: #BDBDBD !important;
}
